<h1>Books</h1>

<ul>
    <% @books.each do |book| %>
    <li>
        <strong><%= link_to(book.title, book_path(book)) %></strong>
        <small> <%= link_to("Edit", edit_book_path(book)) %></small>
        <small><%= link_to('DESTROY!', book_path(book), 
            method: :delete,
            data: { confirm: "Are you sure?" }
        ) %></small>
    </li>
    <% end %>
<ul>